﻿
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Eix Tracker</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @*<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>*@
    <script src="~/Scripts/coustome.js"></script>
    @Styles.Render("~/vendor/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/vendor/font-awesome/css/font-awesome.min.css")
    @Styles.Render("~/Content/fontastic.css")
    @Styles.Render("https://fonts.googleapis.com/css?family=Poppins:300,400,700")
    @Styles.Render("~/Content/style.default.css")
    @Styles.Render("~/Content/css/custom.css")
    @Styles.Render("img/favicon.ico")
    <script>
        $(document).ready(function () {
            $("#login").click(function (event) {
                event.preventDefault();
                var person = new Object();
                person.name = $('input#login_username').val();
                person.passs = $('input#login_password').val();

                $.ajax({
                    url: 'http://localhost:50289/api/Logins/test',
                    type: 'POST',
                    data: person,
                    success: function (response) {
                        var jsonObj = response;
                        var jasonarry = jsonObj.userAuth;
                        var parser = JSON.stringify(jasonarry);
                        alert("login Successfull");
                        //console.log(data);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert("Hibbb");
                    }
                });
            });
        });

    </script>
</head>
<body>
    <div class="page login-page">
        <div class="container d-flex align-items-center">
            <div class="form-holder has-shadow">
                <div class="row">
                    <!-- Logo & Information Panel-->
                    <div class="col-lg-6">
                        <div class="info d-flex align-items-center">
                            <div class="content">
                                <div class="logo">
                                    <h1>Login</h1>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Form Panel    -->
                    <div class="col-lg-6 bg-white">
                        <div class="form d-flex align-items-center">
                            <div class="content">
                                <form id="login-form" method="post">
                                    <div class="form-group">
                                        <input id="login_username" type="text" name="loginUsername" required class="input-material">
                                        <label for="login-username" class="label-material">User Name</label>
                                    </div>
                                    <div class="form-group">
                                        <input id="login_password" type="password" name="loginPassword" required="" class="input-material">
                                        <label for="login-password" class="label-material">Password</label>
                                    </div>
                                    <a id="login" class="btn btn-primary">Login</a>
                                    <!-- This should be submit button but I replaced it with <a> for demo purposes-->
                                </form><a href="#" class="forgot-pass">Forgot Password?</a><br><small>Do not have an account? </small><a href="register.html" class="signup">Signup</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyrights text-center">
            <p>
                Design by <a href="https://bootstrapious.com/admin-templates" class="external">Bootstrapious</a>
                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
            </p>
        </div>
    </div>
    <!-- Javascript files-->
    @Scripts.Render("https://code.jquery.com/jquery-3.2.1.min.js")
    <script src="~/vendor/popper.js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/vendor/jquery.cookie/jquery.cookie.js"></script>
    <script src="~/vendor/chart.js/Chart.min.js"></script>
    <script src="~/vendor/jquery-validation/jquery.validate.min.js"></script>
    @*@Scripts.Render("Script/charts-home.js")*@
    <script src="~/Scripts/charts-home.js"></script>
    <script src="~/Scripts/front.js"></script>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @*@RenderSection("scripts", required: true)*@
</body>


</html>
