﻿
@{
    Layout = null;
}
<!DOCTYPE html>

@*<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Verification</title>
    </head>
    <body>
    </body>
    </html>*@

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>verification page</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <style>
        #draggable {
            width: 150px;
            height: 150px;
            padding: 0.5em;
        }
    </style>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#draggable").draggable();
        });
    </script>
    <script>
        alert("hello");
        $.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            if (results == null) {
                return null;
            }
            else {
                return decodeURI(results[1]) || 0;
            }
        }
        $(document).ready(function () {
            //var userid = getUrlParameter("USER_ID");
            var userid = $.urlParam("USER_ID");
            var userkey = $.urlParam("Key");
            userid = atob(userid);
            userkey = atob(userkey);
            //alert('http://eixsysdemo-001-site5.mysitepanel.net/api/Register/user_verify?Key=' + userkey + '&USER_ID=' + userid);

            //console.log($.urlParam('USER_ID'));
            $.ajax({
                url: 'http://localhost:50289/api/Register/user_verify?Key=' + userkey + '&USER_ID=' + userid,
                type: "GET",
                data: {
                    user_id: userid,
                    user_key: userkey
                },
                success: function (response) {
                    alert("hello");
                    //var decodedUrl = decodeURIComponent(url);
                    //alert(decodedUrl);
                    //alert("You are Now Verifyed User.. Thank You..");
                    //window.location = "http://eixsysdemo-001-site2.mysitepanel.net/verification/Index";
                    //alert("anjali");
                }
            });
        });
    </script>
</head>
<body>
    <table style="width:100%">
        <tr>
            <td>
                <br />
                <br />
                <div style="text-align:center">
                    <img src="~/images/eixsys.png" width="10%" />
                </div>
                <div class="" style="width:100%;text-align:center">
                    <img src="~/images/streaq-icon-seamless.gif" width="20%" />
                    <h3>Your email ID has been verified. Thank you for choosing Eixtracker</h3>
                    <h4><a href="http://eixsysdemo-001-site3.mysitepanel.net">Click hear to login</a></h4>
                </div>
                @*<span style="font-family:Arial;font-size:10pt">
                    Hello <b>{UserName}</b>,<br /><br />
                    <a style="color:#22BCE5" href="{Url}">{Title}</a><br />
                    {message}
                    <br /><br />
                    Thanks<br />
                    Debendra dash
                </span>*@
            </td>
        </tr>
    </table>
</body>
</html>